<!DOCTYPE html>
<html lang = "de">
<head>
    <meta charset = "UTF-8">
    <title>Krüger Bedachungen</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <div class= "header_logo"><p>Krüger Bedachungen</p></div>
        <nav>
            <div class ="topnav" id="myTopnav">
                <a href="#">HOME</a>
                <a href="#">ABOUT</a>
                <a href="#">BEDACHUNGEN</a>
                <a href="#">WHATEVER</a>
                <a href="#">CONTACT</a>
                <a href="#" id="menu" class= "icon">&#9776;</a>

            </div>
        </nav>
    </header>
    <main>
        <div class= "main__welcome">
            <h1>Willkommen in <span class = "mycompany">Krüger Bedachungen</span></h1>
            <p>Put ur text here/Put ur text here/Put ur text here/Put ur text here/Put ur text here</p>
        </div>
        <div class="wrapper">
            <div class= "main__about">
                <div class="about__left">
                    <img class="mw-100" src="images/logo.png" alt="first">
                </div>
                <div class="about__right">
                    <h1>Über die Firma</h1>
                    <p>
                        /Text/Text/Text/Text/Text/Text/Text/Text/Text/Text/Text/Text
                        /Text/Text/Text/Text/Text/Text/Text/Text/Text/Text/Text/Text
                        /Text/Text/Text/Text/Text/Text/Text/Text/Text/Text/Text/Text
                        /Text/Text/Text/Text/Text/Text/Text/Text/Text/Text/Text/Text
                    </p>
                <ul>
                    <li>Was ihr könnt</li>
                    <li>Was ihr könnt</li>
                    <li>Was ihr könnt</li>
                    <li>Was ihr könnt</li>
                </ul>
                </div>
            </div>
        </div>

        <div class="main__bedachungen">
            <div class="wrapper">
            <h1>BEDACHUNGEN</h1>
            <div class="line"></div>
            <div class="bedachungen_bsp1">
                <div class="card">
                    <div class="photo"></div>
                    <h4 class="description">So und so mache ich</h4>
                </div>
                <div class="card">
                    <div class="photo"></div>
                    <h4 class="description">So und so mache ich</h4>
                </div>
                <div class="card">
                    <div class="photo"></div>
                    <h4 class="description">So und so mache ich</h4>
                </div>
                <div class="card">
                    <div class="photo"></div>
                    <h4 class="description">So und so mache ich</h4>
                </div>
                <div class="card">
                    <div class="photo"></div>
                    <h4 class="description">So und so mache ich</h4>
                </div>
            </div>
            <div class="bedachungen_bsp2">
                <div class="card">
                    <div class="photo"></div>
                    <h4 class="description">So und so mache ich</h4>
                </div>
                <div class="card">
                    <div class="photo"></div>
                    <h4 class="description">So und so mache ich</h4>
                </div>
                <div class="card">
                    <div class="photo"></div>
                    <h4 class="description">So und so mache ich</h4>
                </div>
                <div class="card">
                    <div class="photo"></div>
                    <h4 class="description">So und so mache ich</h4>
                </div>
                <div class="card">
                    <div class="photo"></div>
                    <h4 class="description">So und so mache ich</h4>
                </div>
            </div>
            </div>
        </div>

        <div class="main__kontakt">
            <div class="wrapper">
                <h1>Kontaktieren Sie mit uns</h1>
                <div class="line"></div>
                    <h2 class="email">example@mail.w</h2>
                    <h2 class="phone">+49123456789</h2>
                    <h2 class="whatsup">whatsup example</h2>
                    <h2 class="whatever">whatever else</h2>
            </div>
        </div>
    
    
    </main>
    <script src="/js/script.js"></script>
</body>

</html> 